# Ignore all files in the arm64 directory
arm64/*
# Except for the following file types
!arm64/*.s
!arm64/*.c
!arm64/*.cpp
!arm64/*.md

# Ignore build directory
build/
coverage/

# machinecode dumps
tests/machinecode/

# ignore compiled files
tests/assets/*.json
tests/assets/*.wasm
*.bkp

# Add files compiled with wasi-sdk
!tests/assets/myPrint.wasm
!tests/assets/extern.wasm
!tests/assets/fractal.wasm
test.png
