#include <gmock/gmock.h> // This is the key include for EXPECT_THAT
#include <gtest/gtest.h>

#include "../src/modules/runtime.hpp"
#include "helper.hpp"
namespace {

{% set var = namespace(filename="") %}
{% for command in data.commands %}
{% if command.type == 'module' %}
{% set var.filename = command.filename %}
{% endif %}
{% if command.type == 'assert_return' %}
TEST({{ var.filename|replace("-", "_")|replace(".", "_") }}, {{ command.action.field }}_{{ loop.index0 }}) {
  auto wasmModule = helper::loadModule("{{ var.filename }}");
  auto wasmFunction = tiny::make_wasm_function<wasm::wasm_i32_t, wasm::wasm_i32_t>(wasmModule, "{{ command.action.field }}");
  EXPECT_EQ(wasmFunction({{ command.action.args|join(', ', attribute='value') }}), {{ command.expected[0].value }});
}

{% endif %}
{% endfor %}

} // namespace