#include <gmock/gmock.h> // This is the key include for EXPECT_THAT
#include <gtest/gtest.h>

#include "../src/modules/runtime.hpp"
#include "helper.hpp"
namespace {

{% for command in data.commands %}
//{{ loop.index }}
{% if command.type == 'module' %}
  auto wasmModule = helper::loadModule("{{ command.filename }}");
{% endif %}
{% if command.type == 'assert_return' %}
  EXPECT_EQ(wasmFunction(0), 0);
{% endif %}
{% endfor %}

} // namespace