#include <gmock/gmock.h> // This is the key include for EXPECT_THAT
#include <gtest/gtest.h>

#include "../src/modules/runtime.hpp"
#include "helper.hpp"
namespace {

{% from "macros.j2" import get_signature %}
{% for filename, module in data.items() %}
TEST(Spectest, {{ filename|replace("-", "_")|replace(".", "_") }}) {
  auto wasmModule = helper::loadModule("{{ filename }}");
  auto instance = tiny::ModuleInstance(wasmModule);
  
  {% for name, function in module.functions.items() %}
  auto wasm_{{ name|replace("-", "_")|replace(".", "_") }} = instance.getFunction<{{ get_signature(function.expected, function.args) }}>("{{ name }}");
  {% endfor %}

  {% for assert in module.asserts %}
    {% if assert.type == "return" %}
      {% if assert.expected|length %}
  EXPECT_EQ(wasm_{{ assert.function|replace("-", "_")|replace(".", "_") }}({{ assert.args|join(', ') }}), ({{ assert.expected }}));
      {% else %}
  wasm_{{ assert.function|replace("-", "_")|replace(".", "_") }}({{ assert.args|join(', ') }});
      {% endif %}
    {% elif assert.type == "trap" %}
  EXPECT_THROW(wasm_{{ assert.function|replace("-", "_")|replace(".", "_") }}({{ assert.args|join(', ') }}), std::runtime_error);
    {% endif %}
  {% endfor %}
}
{% endfor %}
} // namespace