{# macros.j2 #}
{%- macro get_signature(expected, args) -%}
    {%- if (expected + args)|length -%}
    {%- set comma = joiner(', ') -%}
    {%- for item in expected + args -%}
        {{ comma() }}wasm::wasm_{{ item.type }}_t
    {%- endfor -%}
    {%- else -%}
        void
    {%- endif -%}
{%- endmacro -%}